<%- include('./partials/header') %>

<!-- main body content will be put here -->
<div class="container">
    <div class="row mt-3">
        <div class="d-none d-md-block col-md-3">
            <p class="text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis, porro.</p>
        </div>
        <div class="col-md-6 shadow-lg border border-bottom-2 rounded">
           <form action="/users/signup" class="row form-horizontal mt-5 p-3" method="POST">
            <div class="col-sm-12 col-md-4">
                <label for="email">Email:</label>
            </div>
            <div class="col-sm-12 col-md-8">
                <input type="text" name="email" id="email" class="form-control" required>
            </div>
            <div class="col-12 mt-1"></div>
            <div class="col-sm-12 col-md-4">
                <label for="password">Password:</label>
            </div>
            <div class="col-sm-12 col-md-8">
                <input type="password" name="password" id="password" class="form-control" required>
            </div>
            <div class="col-sm-12 col-md-6 mt-2">
                <button type="submit" class="btn btn-primary">Signup</button>
            </div>
           </form>
        </div>
        <div class="d-none d-md-block col-md-3">
            <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, sunt!</p>
        </div>
    </div>
</div>
<%- include('./partials/footer') %>